.main-box{
    height:100px;
    width:10%;
    margin:10px;
    border-radius:10px;
    background-color:blue;
}
#red-box{
    background-color:red;
}
#green-box{
    background-color:green;
}
#lime-box{
    background-color:lime;
    height:50px;
}
#yellow-box{
    background-color:yellow;
}